@charset "utf-8";



/* CSS Document */


/*---------------responsive--------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 24px;
    }
    .main-menu .navbar-nav>li {
        margin-left: 25px;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .box-green-border,
    .services .box-green-border {
        padding: 45px 10px 20px 30px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 20px 0;
    }
    .blogs .box-green-border {
        padding: 60px 10px 10px 30px;
    }
    .dis-table>div.text-box {
        padding: 10px 30px;
    }
    .main-menu .navbar-nav>li>a:not(.btn) {
        font-size: 14px;
    }
    .case-studies-carousel .carousel-inner>.item img {
        margin-top: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {

    .blogs .box-green-border {
        padding-top: 38px;
    }
    .blogs .box-green-border {
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    .main-menu .navbar-nav>li {
        margin-left: 15px;
    }
    .main-menu .navbar-nav>li>a:not(.btn) {
        font-size: 12px;
    }
    .btn,
    .navbar-nav>li>a.btn {
        padding: 0 15px;
    }
    .main-menu .navbar-nav>li.menu-btn {
        margin-top: 38px;
    }
    .main-menu .navbar-nav>li.menu-btn>a.btn.btn-fill {
        font-size: 10px;
        padding: 5px;
    }
    .main-menu .navbar-nav>li.menu-btn>a.btn.btn-fill span {
        font-size: 10px;
    }
    .main-menu .navbar-nav>li.dropdown a.dropdown-toggle::after {
        font-size: 8px;
    }
    .main-menu .navbar-brand>img {
        max-width: 116px;
        margin: 6px 0;
        max-height: 40px;
    }
    .top-carousel a.page-scroll {
        bottom: 0;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .top-carousel .carousel-caption hr {
        display: none;
    }
    .box-green-border,
    .services .box-green-border {
        padding: 24px 10px 20px 30px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .common-form-section ul {
        margin: 20px 0;
    }
    .success-number .no_count {
        font-size: 24px;
        line-height: 26px;
    }
    .success-number .counter-text {
        margin: 5px 0 50px
    }
    .success-number .counter-inner .icon-holder {
        display: table;
        height: 50px;
    }
    .success-number .counter-inner .icon-holder span {
        display: table-cell;
        vertical-align: middle;
        font-size: 40px;
        line-height: 60px;
    }
    .success-number .counter-inner .icon-holder:after {
        margin: 0 13px;
    }
    .success-number .counter-inner .icon-holder {
        width: 28%;
    }
    .success-number .counter-text p {
        margin-top: 0;
    }

    .success-number .counter-inner .icon-holder::after {
        right: 0;
    }

    .contact-info-box .social-links {
        margin: 5px 0;
    }
    .case-studies-carousel .carousel-inner .floating-img {
        padding: 30px 15px 0;
        margin-top: 0;
    }

    /*css for website design (inner page)*/
    .dis-table>div {
        display: block;
        width: 100%;
    }
    .dis-table>div img {
        margin: 0 auto;
        width: 100%;
    }
    .dis-table>div.text-box {
        padding: 20px;
    }
    .score-table ul {
        width: 100%;
    }
    .score-table ul li {
        font-size: 20px;
    }
    ul.social-links li {
        margin-right: 5px;
    }
    .portfolio .medium-text {
        font-size: 14px;
    }
    #getAQuoteModal .modal-body .btn.btn-fill.full-width {
        max-width: 100%;
        width: 100%;
    }
    .verticl-center-modal .modal-dialog .customise-form {
        margin-bottom: 38px;
    }
    .contact-us-now h3 {
        line-height: 50px;
        margin: 30px 0;
    }

    .contact-info-box h6 {
        font-size: 20px;
    }
    .contact-info-box p {
        font-size: 14px;
    }
    .contact-info-box .social-links li {
        margin-right: 6px;
    }
    .contact-info-box .social-links li a {
        line-height: 35px;
        width: 35px;
        height: 35px;
    }
    .contact-info-box .social-links li a span {
        font-size: 16px;
        line-height: 35px;
    }

    .modal-content .contact-info-box-wrapper {
        margin-top: 42px;
    }
    .tp-caption .medium-btn.btn.btn-fill,
    .tp-caption .medium-btn.btn.btn-nofill {
        font-size: 14px;
        line-height: 46px;
    }
    .separator {
        margin: 0 10px;
    }

    .blogs .box-green-border {
        padding-bottom: 0;
        padding-top: 0;
    }
    .pricing-plans .col-sm-6:last-child {
        margin-left: 25%;
    }
    .box-green-border a {
        font-size: 17px;
    }
}

@media screen and (max-width: 1199px) {
    .rev_slider_1059_1_wrapper .medium-btn.btn.btn-fill {
        font-size: 16px;
        line-height: 46px;
    }
    .getguoteModal-dialog.potfolio-modal {
        width: auto;
        padding: 0 15px;
    }
    .verticl-center-modal::before {
        height: auto;
    }
    .main-menu .navbar-nav>li:nth-child(2) {
        margin-left: 15px;
    }
    .contact-info-box {
        padding-right: 15px;
        padding-left: 15px;
    }
    .contact-info-box span {
        padding-right: 15px;
    }
    .contact-info-box>div {
        margin-left: 12px;
    }
    .thumb-list li {
        width: 30%;
        margin-right: 5px;
    }
    .blogs .box-green-border-container {
        padding-top: 35px;
    }
    .contact-info-box h6 {
        font-size: 20px;
    }
    .contact-info-box p {
        font-size: 14px;
    }
    .blogs ul.social-links li {
        margin-right: 5px;
    }
    .contact-info-box .social-links li a {
        line-height: 35px;
        width: 35px;
        height: 35px;
    }
    .contact-info-box .social-links li a span {
        font-size: 16px;
    }

    ul.social-links li {
        margin-right: 5px;
    }

    .portfolio .grid-item {
        width: 50%;
    }
    .services .box-green-border .service-overlay ul {
        padding: 20px;
    }
    .services .box-green-border .service-overlay ul li a {
        font-size: 13px;
    }
    .services .box-green-border .service-overlay ul li a i {
        margin-right: 2px;
    }
    .case-studies-carousel .carousel-inner>.item {
        z-index: 1;
    }
    .case-studies-carousel .carousel-inner>.item p {
        text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
        color: #ffffff;
    }
    .contact-form-wrapper .container {
        top: -80px;
    }
    .contact-form-wrapper .contact-information {
        padding: 50px;
    }
    .contact-form-wrapper .customise-form {
        padding: 50px 45px;
    }
    .case-studies-carousel .carousel-caption a {
        font-weight: 600;
    }
    footer {
        position: static;
        display: block;
        line-height: 65px;
    }
    #getAQuoteModal .modal-dialog {
        width: auto;
    }
    .box-green-border a {
        font-size: 22px;
    }
    .tparrows:before {
        font-size: 24px!important;
        color: #555555;
        transition: all .5s;
    }
    .tparrows.tp-leftarrow::before {
        position: absolute;
        left: 0px!important;
    }
    .tparrows.tp-rightarrow::before {
        position: absolute;
        right: 0px!important;
    }
}

@media screen and (max-width: 991px) {
    .contact-form-wrapper .flex-container {
        display: block;
    }

    .case-studies-carousel .carousel-inner .floating-img .pull-right {
        float: left!important;
    }
}

@media screen and (max-width: 767px) {
    /*font-size*/
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
        padding-bottom: 5px;
    }
    h3 {
        font-size: 20px;
    }
    .h1 {
        font-size: 28px;
        line-height: 36px;
        padding: 0;
    }
    .h2 {
        line-height: 28px;
        padding: 0;
    }
    /*menu*/
    nav .contact-info ul li a {
        font-size: 13px;
    }
    .navbar-toggle::before {
        display: none!important;
    }
    .main-menu {
        padding: 0;
    }
    .main-menu .navbar-toggle .icon-bar {
        background: #000!important;
    }
    .navbar-toggle {
        margin: 29px 15px;
    }
    .main-menu .btn.btn-fill {
        margin: 0 15px;
        padding: 0;
        line-height: 46px;
        border: 2px solid transparent;
    }
    .main-menu .navbar-nav {
        margin-bottom: 0;
        padding-bottom: 40px;
    }
    .main-menu .navbar-nav>li:nth-child(2) {
        margin-left: 0;
    }
    .main-menu .navbar-nav>li>a:hover,
    .main-menu .navbar-nav>li>a:focus,
    .main-menu .navbar-nav>li>a:hover,
    .main-menu .navbar-nav>li.active>a,
    .main-menu .navbar-nav>li.active>a {
        border-color: transparent;
        color: #fff;
        background: #53b778;
    }
    .main-menu .navbar-nav>li>a {
        margin-bottom: 1px!important;
    }
    .main-menu .nav .open>a,
    .main-menu .nav .open>a:hover,
    .main-menu .nav .open>a:focus {
        border: none;
    }
    .main-menu .navbar-nav>li {
        margin: 0;
    }
    .main-menu .navbar-nav>li>a:not(.btn) {
        line-height: 40px;
        padding: 0 30px;
    }
    .navbar .container .navbar-brand {
        margin-top: 0;
        padding: 20px 15px;
    }
    .main-menu .navbar-brand>img {
        max-width: 142px;
        margin: 6px 0;
        max-height: 40px;
    }
    header .contact-info ul {
        float: left!important;
    }
    header .contact-info ul li a {
        font-size: 12px;
    }
    .main-menu .navbar-toggle.collapsed .icon-bar {
        background: #000;
    }
    .main-menu .navbar-toggle .icon-bar {
        background: transparent;
    }
    .navbar-toggle.collapsed:before {
        content: "";
    }
    .navbar-toggle::before {
        content: "\e92a";
        display: inline-block;
        font-family: "linearicons";
        height: 30px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        z-index: 0;
        font-size: 26px;
        text-align: center;
        padding-left: 7px;
        color: #000;
    }
    .main-menu .navbar-nav {
        background: #eeeeee;
        margin-top: 0;
        padding: 30px 15px 45px;
    }
    .main-menu .navbar-nav>li {
        margin-right: 0;
    }
    .main-slider .btn.btn-fill,
    .main-slider .btn.btn-nofill {
        display: none !important;
    }
    .main-menu .btn.btn-fill:hover,
    .main-menu .btn.btn-fill:focus {
        background: transparent;
        color: #90c404;
        border-color: #90c404;
    }
    .tp-parallax-wrap.tp-parallax-container {
        left: 20px;
        white-space: normal !important;
    }
    .tp-loop-wrap,
    .tp-mask-wrap {
        position: relative !important;
        white-space: normal !important;
    }
    .tp-caption h2,
    .tp-caption .h2 {
        font-size: 24px !important;
        white-space: normal !important;
        line-height: normal !important;
    }
    .tp-caption {
        display: none !important;
    }
    .caption-mobile {
        top: 50%;
        position: absolute !important;
        color: #fff;
        transform: translateY(-24%);
        left: 20px;
        right: 20px;
    }
    .caption-mobile .h2 {
        font-size: 22px;
    }
    .top-carousel {
        padding-top: 133px;
    }
    .owl-pagination {
        display: none;
    }
    .top-carousel .carousel-inner>.item {
        height: calc(100% - 133px);
        height: -moz-calc(100% - 133px);
        height: -webkit-calc(100% - 133px);
    }
    .top-carousel a.page-scroll {
        bottom: -6px;
    }
    .top-carousel a.page-scroll p {
        margin-bottom: 0;
    }
    .top-carousel .carousel-caption {
        left: 20px;
        right: 20px;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .top-carousel .carousel-caption hr {
        display: none;
    }
    .clients img,
    .portfolio img,
    .blogs img {
        display: block;
        margin: 15px 0;
    }
    .case-studies-section {
        margin-top: 60px;
    }
    .blog-left .blog-img {
        width: 100%;
    }
    .blog-left .featured-tag {
        margin: 0;
    }
    .box-green-border {
        padding: 40px 10px 24px;
        min-height: auto;
        margin-top: 20px;
    }
    .box-green-border a {
        font-size: 20px;
        margin: 30px 0 15px;
        font-weight: 600;
    }
    .box-green-border p {
        font-size: 16px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .case-studies-carousel .carousel-inner .floating-img {
        padding: 30px 15px 0;
    }
    .common-form-section ul {
        margin: 20px 0;
    }
    .common-form-section .btn {
        margin-bottom: 0;
    }
    .common-form-section form .form-element-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .common-form-section ul li {
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 15px;
    }
    .common-form-section .social_icons li {
        display: inline-block;
    }
    .common-form-section h3 {
        font-size: 20px;
        margin-top: 0;
    }
    .author-sec .btn-holder {
        margin-top: 60px;
    }
    .services h2 {
        margin-bottom: 0;
    }
    /*portfolio*/
    .protfolio-4>img {
        min-height: 200px;
    }
    .portfolio img {
        margin-bottom: 0;
    }
    .btn.btn-fill.full-width {
        margin: 30px auto;
        max-width: inherit;
    }
    .success-number .counter-inner .icon-holder {
        display: table;
        height: 50px;
    }
    .success-number .counter-inner .icon-holder span {
        display: table-cell;
        vertical-align: middle;
    }
    .success-number .counter-inner .icon-holder:after {
        margin: 0 13px;
    }
    .blogs .blog-left {
        padding: 0;
        margin-top: 22px;
    }
    .blogs .blog-left .box-green-border {
        padding: 40px 20px;
    }
    .blog-post-share ul.social-links li:first-child {
        display: block;
        text-align: left;
        margin-bottom: 14px;
    }
    .bg-white.blog-content {
        padding-top: 45px !important;
    }
    .contact-form-wrapper .contact-information {
        padding: 50px 30px;
    }
    .contact-form-wrapper .customise-form {
        padding: 50px 15px;
    }
    footer {
        line-height: 20px;
        padding: 15px;
    }
    footer .light-ash-bg ul li,
    footer .light-ash-bg ul li,
    footer .light-ash-bg ul li.big-width {
        width: 100%;
    }
    .common-form-section {
        padding-top: 99px;
    }
    .btn.btn-fill .icon-chevron-right {
        margin-left: 3px;
    }
    .blogs .box-green-border {
        padding: 40px 0;
    }
    .blog-item-data {
        font-size: 12px;
    }
    .blog-item-data a i {
        font-size: 14px;
    }
    footer .customise-form .customised-formgroup {
        margin-bottom: 20px;
    }
    footer .regular-text {
        font-size: 16px;
    }
    footer .light-ash-bg ul ul li {
        margin-bottom: 10px;
    }
    footer .light-ash-bg ul ul li:first-child {
        margin-top: 30px;
    }
    footer .light-ash-bg ul.social-links li:first-child {
        margin-top: 0;
    }
    footer .light-ash-bg {
        padding-top: 17px;
    }
    .success-number .counter-inner .icon-holder {
        width: 29%;
    }
    .main-menu .navbar-nav a:active,
    .main-menu .navbar-nav a.active,
    .main-menu .navbar-nav a:active:focus,
    .main-menu .navbar-nav a.active:hover {
        border-width: 1px;
    }
    .top-carousel .btn.btn-nofill {
        margin-left: 14px !important;
    }
    .success-number .counter-text p {
        margin-top: 0;
    }
    .success-number .counter-text {
        margin-top: 0;
    }
    .portflio-content .box-content-with-img {
        margin: 15px auto !important;
    }
    .pro-controls .filter {
        margin: 3px 10px;
    }
    /*css for website desin (inner page)*/
    .service-description-section {
        padding-top: 40px !important;
    }
    .dis-table>div {
        display: block;
        width: 100%;
    }
    .dis-table>div img {
        min-width: auto;
        margin: 0 auto;
        width: 100%;
    }
    .dis-table>div.text-box {
        padding: 30px 20px;
    }
    .score-table ul {
        width: 100%;
        margin: 0;
    }
    .score-table ul li {
        width: 100%;
        font-size: 18px;
    }
    .blog-content .box-content-with-img {
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px !important;
    }

    /*css for modal*/
    .modal-content {
        padding: 10px;
    }
    .contact-info-box span {
        font-size: 30px;
        padding-right: 12px;
    }
    .contact-info-box h6 {
        font-size: 20px;
    }
    .contact-info-box {
        padding: 15px 10px;
    }
    .contact-info-box p {
        font-size: 14px;
    }
    .contact-info-box>div {
        margin-left: 18px;
    }
    .contact-info-box .social-links li {
        margin-right: 7px;
    }
    .contact-info-box .social-links li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .contact-info-box .social-links li a span {
        font-size: 16px;
    }
    .contact-info-box .social-links li {
        margin-bottom: 0px;
        text-align: center;
    }
    .contact-info-box .social-links {
        margin: 9px 0;
        text-align: center;
    }
    .process-model.contact-us-tab {
        margin-top: 23px;
    }
    .contact-us-tab li p {
        margin-top: 20px;
    }
    .google-map-location {
        margin-bottom: 43px;
    }
    .getguoteModal-dialog {
        width: auto;
    }
    ul.social-links li {
        display: inline-block;
    }
    .google-map-location .tab-pane img {
        min-height: auto;
    }
    .modal-header .close {
        right: 9px;
        top: 9px;
    }
    .small-image-width {
        width: 100%;
    }
    .small-image-width img {
        width: 100%;
    }
    .success-number .col-xs-4 {
        width: 100%;
    }
    .success-number .counter-inner .icon-holder span {
        line-height: 50px;
        font-size: 46px;
    }
    /*responsive for case studies page*/
    .case-studies-content {
        margin-top: 40px;
    }
    .pagination-case {
        margin-top: 10px;
    }
    .box-content-with-img .box-content-text h3 {
        margin-top: 1px;
    }
    .box-content-with-img {
        margin-bottom: 0 !important;
        margin-top: 10px;
    }
    .pagination-case .pagination {
        margin-bottom: 9px;
    }
    .product-section .btn.btn-fill.full-width {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .long-box-wrapper .col-xs-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    .long-box-wrapper .col-xs-6 .box-content-with-img img {
        width: 100%;
    }
    .product-section {
        padding-top: 30px;
    }
    .pro-controls {
        margin-top: 2px;
        margin-bottom: 10px;
        margin-left: -10px;
        text-align: left;
    }
    .banner-inner p br {
        display: none;
    }
    .common-form-section {
        padding-top: 45px;
    }
    .google-map-location {
        margin-bottom: 50px;
    }
    .blog-content .btn.btn-fill.full-width {
        margin-top: 0;
    }
    .blog-seo-cat {
        padding-bottom: 20px;
    }
    .blog-details-content ul li p.gray-text {
        font-size: 14px;
        margin-bottom: 22px;
    }
    .blog-details-content ul li {
        margin-right: 0;
    }
    .blog-details-content ul {
        margin-bottom: 0;
    }
    .blog-details-content img {
        margin-bottom: 20px;
    }
    .author-sec {
        padding-top: 39px!important;
    }
    .blogger-img {
        margin-top: 15px;
    }
    .blog-description {
        margin-left: 15px;
    }
    .blog-rel-post {
        padding-top: 37px!important;
    }
    .blog-rel-post .box-content-with-img {
        margin-top: 15px;
        margin-bottom: 15px !important;
    }
    .blog-design-category {
        padding-bottom: 5px;
    }
    .blog-media img,
    .blog-media .video,
    .blog-media iframe {
        width: 100% !important;
    }
    .banner-inner {
        margin-bottom: 35px;
    }
    .banner-inner .btn {
        width: 100%!important;
        text-align: center;
    }
    .common-form-section .btn {
        margin-top: 13px!important;
        margin-bottom: 4px!important;
    }
    .design-process-section {
        padding-top: 42px;
    }
    .margin-top-40 {
        margin-top: 30px;
    }
    .featured-design-section img {
        margin-bottom: 10px;
    }
    .featured-design-section .btn.btn-fill.full-width {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .verticl-center-modal::before {
        height: auto;
    }
    .modal-body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .potfolio-modal .modal-body {
        padding: 5px;
    }
    .thumb-list li {
        width: 30%;
        margin-right: 0;
    }
    .long-box-wrapper .btn.btn-fill.full-width {
        margin-top: 10px;
        margin-bottom: 16px;
    }
    .portfolio img {
        margin-bottom: 15px;
    }
    .portfolio .btn.btn-fill.full-width {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .why-us {
        padding-bottom: 44px;
    }
    .why-us .customise-form {
        margin-top: 50px;
    }
    .news {
        padding-top: 30px;
    }
    .blogs .box-green-border {
        margin-bottom: 0;
        padding: 20px 0 40px;
    }
    .blogs {
        padding-bottom: 0;
    }
    .blogs .btn.full-width {
        margin-bottom: 20px!important;
    }
    .success-number .counter-inner {
        padding-bottom: 0;
    }
    .success-number .counter-text {
        padding-bottom: 35px;
    }
    .modal-content .btn.btn-fill {
        margin-top: 19px;
    }
    .verticl-center-modal .modal-dialog .customise-form {
        margin-bottom: 50px;
    }
    .modal-content .contact-info-box-wrapper {
        margin-top: 45px;
    }
    .port-modal-content {
        margin-top: 29px;
    }
    .common-form-section.contact-form-wrapper {
        padding-top: 8px;
    }
    .common-form-section.contact-form-wrapper .contact-form .col-xs-6 {
        width: 100%;
    }
    .contact-form-wrapper .contact-form .btn-fill {
        margin: 4px 0 8px!important;
        width: 100%;
    }
    .contact-info-box {
        margin-bottom: 30px;
        max-width: inherit;
    }
    .case-studies-details-banner {
        margin-bottom: 0;
    }
    .dis-table {
        margin-top: 15px;
    }
    .dis-table>div.text-box {
        padding: 25px 20px;
    }
    .score-table {
        margin-top: 24px;
    }
    .error-404 .error_message {
        font-size: 20px;
        line-height: 30px;
    }
    .error-404 .error_message span {
        font-size: 90px;
    }
    .contact-us-now h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .contact-us-now .btn {
        margin-bottom: 10px;
    }
    .under-construction .under-construction-message {
        font-size: 40px;
        line-height: 60px;
    }
    .under-construction .under-construction-message span {
        font-size: 24px;
    }
    .search-results {
        padding-top: 30px;
    }
    .pricing-plans .btn.btn-fill {
        margin-bottom: 0;
    }
    .pricing-plans {
        padding: 40px 0 0px;
    }
    .potfolio-modal .thumb-list li {
        width: calc((100% - 10px) / 3);
        cursor: pointer;
        margin: 0!important;
        padding: 0;
    }
    .blog-content img {
        width: 100%;
    }
    .getguoteModal-dialog.potfolio-modal {
        width: auto;
    }
    #getAQuoteModal .contact-info-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    #getAQuoteModal .contact-info-box span {
        padding-right: 15px;
    }
    #getAQuoteModal .contact-info-box>div {
        margin-left: 10px;
    }
    #getAQuoteModal .contact-info-box h6 {
        font-size: 18px;
    }
    #getAQuoteModal .contact-info-box p {
        font-size: 14px;
    }
    #getAQuoteModal .contact-info-box span,
    #getAQuoteModal .contact-info-box span.icon-envelope {
        font-size: 24px;
    }
    .case-studies-carousel .carousel-indicators {
        bottom: -45px;
    }
    .case-studies-carousel .carousel-indicators li {
        width: 50px;
        height: 50px;
        margin: 0 5px;
    }
    .case-studies-carousel .carousel-indicators li.active {
        margin: 0 5px;
    }
    .team_members .content {
        margin-bottom: 30px;
    }
    .team_members .row .col-md-4:last-child .content {
        margin-bottom: 0;
    }
    .team_members {
        padding-bottom: 0;
    }
    .team_members .member_details .social_icons {
        margin-bottom: 0;
    }
    .services .box-green-border {
        padding-top: 5px;
    }
    .tparrows {
        display: none;
    }
    .rev_slider .btn {
        margin-right: 20px;
    }
    .main-slider .list-inline {
        margin-top: 30px;
    }
    .main-slider .list-inline>li {
        width: 50%;
        float: left;
    }
    .main-slider .rev_slider .btn {
        font-size: 12px;
        line-height: 40px;
        padding: 0 10px;
    }
    .box-green-border .service-overlay ul li {
        font-size: 14px;
    }
    .box-green-border .service-overlay ul li i {
        margin-right: 10px;
    }
    .getguoteModal-dialog.potfolio-modal {
        padding: 0;
    }
    .team-modal-content .social_icons {
        margin-bottom: 0;
    }
    .pricing-plans .pricing .price {
        font-size: 20px;
    }
    .pricing-plans .pricing .price span {
        font-size: 40px;
    }
    .pricing-plans .pricing .price [class^="flaticon-"]::before {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .pricing-plans .pricing .price sup {
        font-size: 24px;
    }
    .blogDetModal .gray-title {
        font-size: 24px;
        line-height: 34px;
    }
}

@media screen and (max-width: 560px) {
    header ul.header-right a,
    .portfolio .medium-text {
        font-size: 14px !important;
    }
    .top-carousel .carousel-caption .btn {
        max-width: 100%;
        margin: 20px 0 !important;
        display: block;
    }
    .medium-btn2.btn.btn-nofill {
        display: block;
    }
    img {
        width: 100%;
    }
    .portfolio .medium-text {
        margin: -4px 0 4px;
    }
    .case-studies-carousel .carousel-indicators li {
        height: 50px;
        margin: 0 5px;
        width: 50px;
        background-size: cover;
    }

    .case-studies-carousel .carousel-indicators li.active {
        margin: 0 5px;
    }

    .counter-inner .icon-holder {
        width: 24%;
    }
    .success-number .counter-text {
        margin: 0;
    }
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
    .port-cat-con .por-overley {
        padding-top: 15%;
    }

    .port-cat-con .mix {
        width: 100%;
    }
    .mix .text-inner {
        padding-top: 17%;
    }
    .featured-design-section .col-xs-6 {
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-design-section .col-xs-6 img {
        width: 100%;
    }
    .featured-ecommerce-webistes .col-xs-6 {
        width: 100%;
    }
    .featured-ecommerce-webistes .content .img_container span {
        font-size: 24px;
        line-height: 46px;
        width: 50px;
        height: 50px;
        top: auto;
        bottom: -45px;
        right: 50%;
        -webkit-transform: translateX(50%) rotate(90deg);
        -moz-transform: translateX(50%) rotate(90deg);
        -ms-transform: translateX(50%) rotate(90deg);
        -o-transform: translateX(50%) rotate(90deg);
        transform: translateX(50%) rotate(90deg);
    }
    .featured-ecommerce-webistes .content .before_after {
        font-size: 16px;
        line-height: 40px;
        position: absolute;
        bottom: 30px;
        z-index: 9999;
        opacity: .9;
        width: 80%;
        left: 10%;
    }
    .team_members .col-xs-6 {
        width: 100%;
    }
    .team_members .img_container img {
        width: 100%;
    }
    .process-model.process-video-modal li,
    .process-model.process-video-modal li.active {
        padding: 0 10px;
    }
    .process-model.process-video-modal li span {
        height: 50px;
        width: 50px;
        line-height: 46px;
        font-size: 24px;
    }
    .process-model.process-video-modal li::after {
        top: 24px;
    }
    .portfolio .grid-item {
        width: 100%;
        margin-bottom: 0px;
    }
    .product-section .filter-button-group {
        text-align: left;
        margin-left: -23px;
    }
    .product-section .btn.btn-fill.full-width {
        margin-bottom: 20px;
    }
    .team-members [class^="col-"] {
        width: 100%;
    }
    .portfolio .filter-button-group {
        text-align: left;
        margin-left: -10px;
        margin-bottom: 10px;
    }
    .portfolio .filter-button-group button {
        margin: 0 10px 10px;
    }
    .services {
        padding: 40px 0 0;
    }
    .portfolio {
        position: relative;
        padding: 40px 0 0;
    }
    .bg-white.blog-content {
        padding: 0px 0 25px;
    }
}

@media screen and (max-width: 412px) {
    .process-model li p {
        font-size: 11px;
    }
    .top-carousel .carousel-caption .btn {
        width: 100%;
    }
    div.text-box ul li,
    .dis-table>div.text-box p {
        line-height: 26px;
        font-size: 15px;
    }
    .dis-table>div.text-box.less-padding,
    .score-table {
        padding: 25px 20px;
    }
    .features-of-ecommerce-webiste .content,
    .join-our-team .content {
        font-size: 14px;
    }
    .features-of-ecommerce-webiste .content .icon_holder,
    .join-our-team .icon_holder {
        width: 100px;
        height: 100px;
    }
    .features-of-ecommerce-webiste .content .icon_holder span,
    .join-our-team .content .icon_holder span {
        font-size: 50px;
    }
    .awards-and-recognitions .awards_list .col-xs-6 {
        width: 100%;
    }
    .case-studies-carousel .carousel-caption .row .col-xs-12:first-child {
        min-height: 300px;
    }
    .blog-content .box-content-with-img {
        max-width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
    header ul.header-right li {
        margin-right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .main-menu .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        -webkit-animation: fade-in-up .25s forwards;
        animation: fade-in-up .25s forwards;
    }
    .navbar-fixed-top .navbar-right {
        margin-right: 0;
    }
}